.container {
    display: flex;
    flex-direction: column;
    width: 450px;
}

.header {
    display: flex;
    flex-direction: column;
}

.background-color-1 {
    background-color: #e74c3c;
}

.background-color-2 {
    background-color: #27ae60;
}

.router-navigation {
    justify-content: space-between;
}

.footer {
    margin: 15px 15px 15px 15px;
}